# exclude all files and just include the '.EXAMPLE' files
env_files/*
!env_files/*.EXAMPLE

.env
!env.EXAMPLE

# exclude all files and just include the '.EXAMPLE' files
volumes/catalog-frontend/*
!volumes/catalog-frontend/*.EXAMPLE

volumes/geoserver/geoserverdata

volumes/nginx/nginx.*.backup.*
volumes/nginx/nginx.*.test
volumes/nginx/log

volumes/stac-compose/providers/providers*.json

.vscode/*
